@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>CONTROL DE ACCESO DE GOBERNACIÓN. </p>
    <p>IMAGEN. </p>
</div>
